requests
beautifulsoup4
pillow
pdf2image
pytesseract
python-docx
transformers
torch
langchain
chromadb
rich
agno
langchain-community
groq
sentence-transformers
flask
jsonify
elevenlabs
SpeechRecognition
pyaudio
deep_translator
gtts
pydub
pyttsx3
playsound
plotly
matplotlib
pandas
kaliedo
pydub
simpleaudio
